

main{
    margin-left: 300px;
}

.reading nav{
    height: 50px;
    width: 100%;;
    background: #4c7093;
}

.navbar .btn-outline-success{
    margin-right: 100px;
}

.data-display{
    margin-top: 1rem;
    margin-left: 2rem;
     margin-right: 290px;
   
}

 .summary{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 13rem;
    background: white;
}

.checkout, .finished-task, .notes-num {
    border: 1px #c1c1c1 solid;
    border-radius: 50%;
    font-size: 1.4rem;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkout{
    border: none;
    background-color: #A0CFFF;
}
.checkout:hover, .finished-task:hover, .notes-num:hover{
    background: #ff7373;
}

.num{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 0.5rem;
}

.word{
    margin-top: 1rem;
}

.booklist{
    
    /* flex-basis: 300px; */
    position: fixed;
    top: 55px;
    right: 10px;
    height: 99vh;
    margin-left: 2rem;
    width: 250px;
    margin-top: 1vh;
    background: white;
    /* width: 15rem; */
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ffe4e1;

}

.chart{
   display: flex;
   justify-content: space-evenly;
   margin-top: 1.5rem;
   background: white;
   padding: 1rem;
}

.pie, .line, .bar{

   width: 30%;
   height: 250px;
   background-color: #f0f8ff;
}

#myChart{
  margin-top: 3rem;
  background: white;
}

.daily-say{
    background: white;
    margin-top: 2rem;
    padding: 2rem 0.5rem;
}

.daily-each{
    background: #e6e6fa;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 80%;
    position: relative;
    margin-bottom: 3rem;
}

    


.date-today{
    margin-bottom: 0.8rem;
}
.daily-book{
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;

}
.daily-note{
    margin-bottom: 0.6rem;
}

.booklist-ol li{
    margin-top: 1rem;
    font-size: 90%;
}

.booklist h2{
    color: #008080;
    margin-bottom: 2.3rem;
}

.read-btn{
    position: absolute;
    background:#ffc0cb;
    width: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 0 100px 100px 0;
    opacity: 0.8;
    top: 20rem;
    font-size: 70%;
    /* color: white; */
}

.read-btn div{
  margin-left: 5px;
}

